@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Cores para o tema claro */
  --foreground-rgb: 0, 0, 0; /* Cor do texto principal (preto) */
  --background-start-rgb: 240, 240, 240; /* Fundo mais claro, quase branco */
  --background-end-rgb: 255, 255, 255;
}

/* Removemos a media query "prefers-color-scheme: dark" */
/* Assim, o fundo escuro não será ativado */

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb)); /* Usando apenas uma cor de fundo sólida e clara */
  min-height: 100vh; /* Garante que o fundo cubra toda a altura da tela */
  margin: 0;
  display: flex; /* Para centralizar o conteúdo */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  font-family: var(--font-geist-sans); /* Garante que a fonte seja aplicada */
}